<div>
    <h1 data-bind="text: title"></h1>
    <!-- ko if: getTotalQuestions() == 0 -->
    <div class="messages">

        <div class="message-notice notice message">
            <span>No FAQ answers available.</span>
        </div>`
    </div>
    <!-- /ko -->
    <span>Amount of questions: </span><span data-bind="text: getTotalQuestions()"></span>
    <div class="question-row">
        <div class="question-column-left">
            <!-- ko foreach: { data: getCategories(), as: 'category' } -->
            <span data-bind="click: $parent.getQuestionsByCategory">
                <h4 data-bind="text: category.title"></h4>
            </span>
            <!-- /ko -->
        </div>
        <div class="question-column-right">
            <!-- ko foreach: { data: getQuestions(), as: 'question' } -->
            <!-- ko if: question.enabled === "1" -->
            <div>
                <h4 data-bind="text: question.title"></h4>
                <span data-bind="html: question.answer"></span>
                <span data-bind="text: question.updated_at"></span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>


</div>
