<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="SebTech\FAQTwo\Model\ResourceModel\Question\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sebtech_question_two</argument>
            <argument name="resourceModel" xsi:type="string">SebTech\FAQTwo\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sebtech_faqtwo_question_listing_data_source" xsi:type="string">SebTech\FAQTwo\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="SebTech\FAQTwo\Model\ResourceModel\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sebtech_category_two</argument>
            <argument name="resourceModel" xsi:type="string">SebTech\FAQTwo\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sebtech_faqtwo_category_listing_data_source" xsi:type="string">SebTech\FAQTwo\Model\ResourceModel\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
